@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Enit Forum
        <img src="~/ImageFiles/Forum.jpg" alt="Sample Photo" height="600">
    </h1>
</div>
